/*------------------------------------*\
#Variables
\*------------------------------------*/

body{
    --color-light: #edf2f4;
    --color-dark: #1c1d2b;
    --color-red: #e6223f;

    --color-background: var(--color-light);
    --color-foreground:var(--color-dark);
    --color-accent: var(--color-red);

    background: linear-gradient(to bottom right,#f7fcfe, #a4abb8);

    transition: 1s;
}

body.dark{
    --color-light: #cccccc; 

    --color-dark: #1b1822;
    --color-red: #BC2A2A;

    --color-background: var(--color-dark);
    --color-foreground:var(--color-light);
    --color-accent: var(--color-red);

    background: linear-gradient(to bottom right,#2f2f31,#191821);
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    color: var(--color-foreground);
    background-color: var(--color-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    
}

.border{
    border: 1px solid var(--color-foreground);
}


.smooth{
    transition: 4s;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: App
    ---
    Main app wrapper
*/

.c-app {
    max-width: 29em; /* 400 / 16px = 25em + 4em padding */
    padding: 2em; /* 32 / 16px = 2em */
    margin: 0 auto;
    
}

.c-app-mockup{
    max-width: 35em;
    padding: 2em;
    margin: 0 auto;
}

/*
    Component: Top logo
    ---
    Logo on top of the page
*/

.c-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
}

/*
    Component: Toggle
    ---
    Toggle to switch from color mode
*/

.c-toggle-label{
    margin-top: 1rem;
    background-color: transparent;
    border: solid 1px var(--color-foreground);
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    height: 0.7rem;
    width: 2rem;
    position: relative;
}

.c-toggle-label svg{
    height:0.7rem;
    fill: var(--color-foreground)
}

.c-toggle-sun{
    margin-left: 0.3rem;
}

.c-toggle{
    display: flex;
    width: 88%;
    justify-content: flex-end;
}

.c-toggle-ball{
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50px;

    background-color: var(--color-foreground);
    position: absolute;
    top: 0.03rem;
    left: 0.05rem;

    transition: transform 0.1s linear;
}

.c-toggle-checkbox{
    opacity: 0;
    position: absolute;
}

.c-toggle-checkbox:checked + .c-toggle-label .c-toggle-ball{
    transform: translateX(1.25rem);
}

/*
    thermometer: thermometer object
    ---
    thermometer object settings

    
*/

.c-mockup{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    margin-top: 1.5em;
}

.c-mockup-image{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

/*
    thermometer: thermometer object
    ---
    thermometer object settings

    
*/
.c-temperature-text{
    text-align: center;
    font-weight: bold;
    margin-top: -3%;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-foreground);
}

.thermometer-wrap{
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: inline-block; /* Shrink container to img size */
}

.thermometer-wrap img{ /* for responsiveness */
    display: block;
    max-width:100%;
    height: auto;
}

.thermometer-wrap img{
    Position: absolute;
    top: 0;
    left: 0;
}

.thermometer-wrap div{
    Position: absolute;
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
}

.thermometer-wrap svg{
    color: var(--color-red);
}

.c-arrow{
    fill: var(--color-foreground);
    transition: 1s ease;

}

.c-kwik{
    fill: var(--color-red);
}

.c-cityinput{
    text-align: center;
    margin-top: -1.6rem;  
}

input:focus {
    outline-color: var(--color-foreground);
    outline-width: 0px;
  }


.c-cityinput_label{
    display:inline-block;
    width: 15rem;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: var(--color-foreground);

}

input{
    background-color: transparent;
    border: 1px solid var(--color-foreground);
    border-radius: 3px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin-top: 0.5em;
    width: 11rem;
    color: var(--color-foreground);
}

input[type=text] {
    width: 10rem;
}

/*
    Grid: Grid components
    ---
    Grid on the bottom of the page
*/

.g-container{
    width: 100%;
    color: var(--color-foreground);
}


.g-row{
    margin-top: 2rem;
    Width: 100%;
    display: flex;

}

.g-item{
    width:50%;
    text-align: center;
}

.g-item_title{
    font-weight: bold;
    display: inline;
}