/*------------------------------------*\
#Variables
\*------------------------------------*/

body{
    --color-light: #edf2f4;
    --color-dark: #1c1d2b;
    --color-red: #e6223f;

    --color-background: var(--color-light);
    --color-foreground:var(--color-dark);
    --color-accent: var(--color-red);

    background: linear-gradient(to bottom right,#f7fcfe, #a4abb8);
}

body.dark{
    --color-light: #cccccc; 

    --color-dark: #1b1822;
    --color-red: #BC2A2A;

    --color-background: var(--color-dark);
    --color-foreground:var(--color-light);
    --color-accent: var(--color-red);

    background: linear-gradient(to bottom right,#2f2f31,#191821);
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    color: var(--color-foreground);
    background-color: var(--color-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Overflow-y: scroll; */
    height: 100vh;
    max-height: 100vh;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: App
    ---
    Main app wrapper
*/

.c-app {
    max-width: 29em; /* 400 / 16px = 25em + 4em padding */
    padding: 2em; /* 32 / 16px = 2em */
    margin: 0 auto;
    
}

.c-app-lp{
    max-width: 75%;; /* 400 / 16px = 25em + 4em padding */
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
}

/*
    Component: Top logo
    ---
    Logo on top of the page
*/

.c-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
}

/*
    Component: Toggle
    ---
    Toggle to switch from color mode
*/

.c-toggle-label{
    margin-top: 1rem;
    background-color: transparent;
    border: solid 1px var(--color-foreground);
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    height: 0.7rem;
    width: 2rem;
    position: relative;
}

.c-toggle-label svg{
    height:0.7rem;
    fill: var(--color-foreground)
}

.c-toggle-sun{
    margin-left: 0.3rem;
}

.c-toggle{
    display: flex;
    width: 88%;
    justify-content: flex-end;
}

.c-toggle-ball{
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50px;

    background-color: var(--color-foreground);
    position: absolute;
    top: 0.03rem;
    left: 0.05rem;

    transition: transform 0.1s linear;
}

.c-toggle-checkbox{
    opacity: 0;
    position: absolute;
}

.c-toggle-checkbox:checked + .c-toggle-label .c-toggle-ball{
    transform: translateX(1.25rem);
}

/*
    mockup: mockup container
    ---
    mockup container settings
*/


.c-container-lp{
    margin-top: 12.5%;
    height: 75%;
    max-height: 75%;
    width: 100%;
}

.c-mockup{
    display: inline-block;
    text-align: center;
    /* display: inline-block;*/
    width: 49%;
    height: 75%;
}
.c-mockup img{
    height:100%;
}

/*
    mockup: mockup container
    ---
    mockup container settings
*/

.c-textblock{
    display: inline-block;
    margin-left: 1rem;
    margin-top: 0;
    width: 49%;
    height: 75%;
    vertical-align:top;
}

.c-textblock img{
    width:100%;
}

.c-textblock h1{
    font-size: 30px;
    line-height: 35px;
}

.c-textblock p{
    font-size: 20px;
}


/*
    thermometer: thermometer object
    ---
    thermometer object settings
*/
.c-temperature-text{
    text-align: center;
    font-weight: bold;
    margin-top: -3%;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-foreground);
}

.thermometer-wrap{
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: inline-block; /* Shrink container to img size */
}

.thermometer-wrap img{ /* for responsiveness */
    display: block;
    max-width:100%;
    height: auto;
    Position: absolute;
    top: 0;
    left: 0;
}

.thermometer-wrap div{
    Position: absolute;
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
}
.c-arrow{
    fill: var(--color-foreground);
    transition: 1s ease;

}

.c-kwik{
    fill: var(--color-red);
    transition: 1s ease;

    color: var(--color-red);

    transform: scaleY(1); /*0.69=50° --- 0.69/5 = 0.138 per 10° --- 0.0138 per ° */
    transform-origin: bottom center;
}

.c-cityinput{
    text-align: center;
    margin-top: -1.6rem;  
}

input:focus {
    outline-color: var(--color-foreground);
    outline-width: 0px;
  }


.c-cityinput_label{
    font-size: 24px;
    line-height: 21px;
    font-weight: bold;
    color: var(--color-foreground);
}

.c-cityinput_error{
    display:inline-block;
    width: 10rem;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0.5rem;
    color: var(--color-red);

}

input{
    background-color: transparent;
    border: 1px solid var(--color-foreground);
    border-radius: 3px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin-top: 0.5em;
    width: 11rem;
    color: var(--color-foreground);
}

input[type=text] {
    width: 10rem;
}

/*
    Grid: Grid components
    ---
    Grid on the bottom of the page
*/

.g-container{
    width: 100%;
    color: var(--color-foreground);
}


.g-row{
    margin-top: 2rem;
    Width: 100%;
    display: flex;

}

.g-item{
    width:50%;
    text-align: center;
}

.g-item_title{
    font-weight: bold;
    display: inline;
}


/*
    media tags
*/

@media only screen and (max-width: 1325px) {
    .c-app-lp{
        overflow: scroll;
    }
}

@media only screen and (max-width: 600px) {

    .c-app-lp{
        overflow: auto;
    }

    .c-container-lp{
        margin-top:1em;
        align-items: center;
    }
    
    .c-mockup {
      margin-top: 0;
      align-self: center;
      height: 75%;
      width: 100%;
    }

    .c-mockup img{
        height: 100%;
    }


    .c-textblock{
        display: inline-block;
        width: 95%;
        height: 25%;
    }
    
    .c-textblock img{
        width:90%;
    }
    
    .c-textblock h1{
        margin:0;
        font-size: 20px;
        line-height: 20px;
    }
    
    .c-textblock p{
        font-size: 15px;
        padding-bottom: 1rem;
    }

  }